<div class="jumbotron">

    <h1>Koha kai</h1>
    <p class="lead">Click the table below to edit</p>
    <div id="nav">
        <ul id="menu">
            <li id="h"><a href="/Admin/Blogs">Blog</a></li>
            <li id="b"><a href="/Admin/Photos">Photo</a></li>
            <li id="s"><a href="/Admin/Users">User</a></li>
        </ul>
    </div>
</div>